body {
    font-family: Arial, sans-serif;
}

#app {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    align-items: center;
    justify-content: space-between;
    display: flex;
}